<div class="search-bar">
  <form>
    <div class="search-bar--input"><input type="text" placeholder="<%= locals[:placeholder] %>"/></div>
    <div class="search-bar--submit"><button class="button-search"><span>Search</span></button></div>
  </form>
</div>
