.footer--minimal {
  color: $white;
  border-top: 2px solid $white;
  font-family: $font-family;
  font-weight: $body-font-weight;
  min-width: $row-max-width;
  padding: 70px 0;
  text-align: center;

  a {
    color: $grey;
  }

  small {
    @include font-size($small);
  }
}
