---
title: Form inputs
---

<div style="background:white;">
  <div class="profile-badge">
    <img
      src="/assets/images/holding/me.jpg"
      class="profile-badge-avatar"
      />

    <div class="profile-badge-details">
      <h2 class="profile-badge-name">Emile Swartz</h2>
      <h3 class="profile-badge-role">Developer</h3>
    </div>
  </div>
</div>
