---
title: Form inputs
---

<% notice = capture do %>
  Some information for you.
  <form>
    <input type="submit" class="button" value="Do something" />
    <a href="#" class="button">Go somewhere</a>
  </form>
<% end %>

<% flash = {:notice => notice,
            :success => 'Your form submitted successfully!',
            :error => 'There are a few errors for you to address.'} %>

<%= partial 'views/shared/flash', :locals => {:flash => flash} %>

<div class="application--content">
  <form class="modal list-container">
    <div class="flash flash-info">
      <p>Some information for you.</p>
    </div>
  </form>
</div>
