---
title: Login
body_class: bohek
html_class: full-height
---

<% content_for(:title, 'Login') %>
<% content_for(:links) do %>
  <p><a href="/reset-password.html" class="light">Can't access your account?</a></p>
<% end %>

<form class="form-vertical">
  <div class="form-field">
    <label for="email">Email</label>
    <input type="email" id="email" />
  </div>

  <div class="form-field">
    <label for="password">Password</label>
    <input type="password" id="password" />
  </div>

  <div class="form-field check_boxes checkbox-wrap">
    <span class="checkbox">
      <input type="checkbox" id="checkbox" class="check_boxes" />
      <label for="checkbox">Remember me</label>
    </span>
  </div>

  <div>
    <button class="button large">Sign in</button>
  </div>
</form>

