<div class="pagination-container">
  <nav class="pagination">
    <span class="first">
      <a href="#">&laquo;</a>
    </span>

    <span class="prev">
      <a href="#" rel="prev">&lsaquo;</a>
    </span>

    <span class="page">
      <a href="#" rel="prev">1</a>
    </span>

    <span class="page current">2</span>

    <span class="page">
      <a href="#" rel="next">...</a>
    </span>

    <span class="page">
      <a href="#" rel="next">7</a>
    </span>

    <span class="next">
      <a href="#" rel="next">&rsaquo;</a>
    </span>

    <span class="last">
      <a href="#">&raquo;</a>
    </span>
  </nav>
</div>
