---
title: Reset your password
body_class: bohek
html_class: full-height
---

<% content_for(:title, 'Reset your password') %>
<% content_for(:links) do %>
  <p><a href="/login.html" class="light">Back to Login</a></p>
<% end %>

<form>
  <div class="form-field">
    <label for="email">Email</label>
    <input type="email" id="email" />
  </div>

  <div>
    <button class="button large">Reset password</button>
  </div>
</form>
