---
title: Form inputs
---

<div class="vertical-tabs">
  <div class="vertical-tabs-sidebar">
    <div class="vertical-tabs-sidebar-content profile-badge-large">
      <img
        src="/assets/images/holding/me.jpg"
        class="profile-badge-avatar"
        />

      <div class="profile-badge-details">
        <h2 class="profile-badge-name">Emile Swartz</h2>
        <h3 class="profile-badge-role">Developer</h3>
      </div>
    </div>

    <ul class="vertical-tabs-sidebar-navigation">
      <li class="vertical-tabs-sidebar-navigation-current">
        <a href="#">Personal</a>
      </li>
      <li>
        <a href="#">Holidays</a>
      </li>
      <li>
        <a href="#">Sickness</a>
      </li>
      <li>
        <a href="#">Edit</a>
      </li>
    </ul>
  </div>

  <div class="vertical-tabs-content">
    <h1 class="profile-summary">
      Emile Swarts is a Developer, he has worked at Dare for 6 months, he’s been
      off sick 0 times and has taken  5 of his 8 holiday days left. Emile works
      within the Technology team, his manager is Rory MacDonald.
    </h1>
  </div>
</div>
