@mixin font-size($size, $is-important: false) {
  $size: if(unit($size) == "px", $size / 1px, $size);

  @if $is-important {
    font-size: $size + px !important;
  } @else {
    font-size: $size + px;
  }
}

@mixin font-rendering-fix {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: $font-smoothing;
  text-rendering: optimizeLegibility;
}
