$greyLightest: #f3f3f3;
$greyLighter: #ececec;
$greyLight: #d1d1d1;
$grey: #ccc;
$greyDarker: #999999;
$greyDarkest: #303030;
$greyMidnight: #363636;
$greyDusk: #676767;

$white: #fff;

$blue: #99c7d8;
$green: #7db191;
$orange: #ff9900;

$error: #e26b6b;

$custom-primary: #00cdff;
$custom-secondary: #00669f;
$custom-header: #046494;
