%input-error {
  border-color: $error;
  background-color: tint($error, 75);

  &:before {
    border-color: $error;
    background-color: tint($error, 75);
  }

  &:focus,
  &:hover {
    border-color: shade($error, 25);
  }
}

%input-disabled {
  border-color: $greyDarker;
  background-color: $grey;
}

.form-field {
  input, textarea {
    @include appearance(none);

    @include placeholder {
      color: $greyDarkest;
      font-family: inherit;
    }

    border: none;
    display: block;
    outline: none;

    &:not([type]),
    &[type=email],
    &[type=text],
    &[type=password] {
      width: 100%;
      
      margin-top: 10px;
      padding: 0.65em 16px 0.64em;
      
      background-color: #fff;
      border: 1px solid $grey;
      @include border-radius(3px);

      &:focus,
      &:hover {
        border-color: $greyDarker;
      }


      &.large {
        @include font-size($large);
        padding: 18px;
      }

      &.error {
        @extend %input-error;
      }

      &.disabled {
        @extend %input-disabled;
      }
    }
  }

  textarea {
    height: 100px;
  }

  select, .select2-container {
    margin-top: 10px;
    width: 300px;
  }
}
