%input-error {
  border-color: $error;
  background-color: tint($error, 75);

  &:before {
    border-color: $error;
    background-color: tint($error, 75);
  }

  &:focus,
  &:hover {
    border-color: shade($error, 25);
  }
}

%input-disabled {
  border-color: $greyDarker;
  background-color: $grey;
}

.form-field {
  input, textarea {
    @include appearance(none);

    @include placeholder {
      color: $greyDarker;
      font-family: inherit;
    }

    border: none;
    display: block;
    outline: none;

    &:not([type]),
    &[type=email],
    &[type=text],
    &[type=password] {
      width: 100%;
      
      margin-top: $small;
      padding: 0.65em 16px 0.64em;
      
      background-color: #fff;
      border: 1px solid $grey;
      @include border-radius(3px);

      &:focus,
      &:hover {
        border-color: $greyDarker;
      }

      &.large {
        @include font-size($large);
        padding: 18px;
      }

      &.disabled {
        @extend %input-disabled;
      }
    }

    &[type=file] {
      font-size: $small;
    }

    &.input-date, &.input-small {
      width: 300px;
    }

    @include respond(300px) {
      &.input-date {
        width: 100%;
      }
    }
  }

  textarea {
    height: 100px;
  }

  select, .select2-container {
    margin-top: 10px;
    width: 300px;
  }

  @include respond("max-width: 300px") {
    .select2-container {
      width: 100%;
    }
  }

  &.form-field-error {
    input, textarea, select {
      &:not([type]),
      &[type=email],
      &[type=text],
      &[type=password] {
        @extend %input-error;
      }
    }
  }
}


@include respond(desktop) {
  .form-field-inline {
    overflow: hidden;

    input, textarea {
      &:not([type]),
      &[type=email],
      &[type=text],
      &[type=password] {
        margin-top: 0;
        width: 78%;
        float: left;
      }

      &.input-date, &.input-small {
        width: 300px;
      }
    }
  }
}
