<div class="application--breadcrumb">
  <ul>
    <li><a href="#">Account</a> / </li>
    <li><a href="#">People</a> / </li>
    <li>Emile Swarts</li>
    <% for link in breadcrumb %>
      <li><a></a></li>
    <% end %>
  </ul>
</div>
