@include font-face("icomoon", font-files("icomoon.woff", "icomoon.ttf", "icomoon.svg#icomoon"), "icomoon.eot", normal, normal);

[class*="icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e600";
}
.icon-folder:before {
  content: "\1f4c1";
}
.icon-graph:before {
  content: "\e603";
}
.icon-group:before {
  content: "\1f465";
}
.icon-settings:before {
  content: "\e605";
}
.icon-calendar:before {
  content: "\1f4c5";
}
.icon-search:before {
  content: "\e601";
}
.icon-cloud:before {
  content: "\e601";
}
.icon-briefcase:before {
  content: "\e601";
}
.icon-sun:before {
  content: "\e601";
}
.icon-aid:before {
  content: "\e601";
}
.icon-doc:before {
  content: "\e601";
}
