<% unless flash.empty? %>
  <div class="<%= defined?(container_class) ? container_class : 'application--flash-container' %>">
    <% [:notice, :error, :alert, :success].each do |level| %>
      <% unless flash[level].blank? %>
        <div class="<%= flash_class(level) %>">
          <%= flash[level].html_safe %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
