---
title: Form inputs
---

<div class="list-container">
  <h1>Action lists</h1>

  <div class="action-list">
    <h2 class="action-list--title">
      A title of sorts
    </h2>

    <ul>
      <li>
        Something

        <span class="action-list--button-collection"> 
          <form>
            <input type="submit" class="button" />
          </form>
        </span>
      </li>
    </ul>

    <h2 class="action-list--title">
      Another title

      <span class="action-list--button-collection"> 
        <form>
          <input type="submit" class="button" />
        </form>
      </span>
    </h2>

    <ul>
      <li class="action-list--item--empty">
        No actions here
      </li>
    </ul>

    <h2 class="action-list--title action-list--title--quiet">
      A quieter header
    </h2>

    <ul>
      <li>
        Nice sentence about something
      </li>

      <li>
        Here is some cool stuff
      </li>
    </ul>
  </div>
</div>
