---
title: Form inputs
---

<div class="list-container">
  <h1>Action lists</h1>

  <ul class="action-list">
    <li class="action-list--title">
      A title of sorts
    </li>

    <li>
      Something

      <div class="action-list--button-collection"> 
        <form>
          <input type="submit" class="button" />
        </form>
      </div>
    </li>

    <li class="action-list--title">
      Another title
    </li>

    <li class="action-list--item--empty">
      No actions here
    </li>

    <li class="action-list--title action-list--title--quiet">
      A quieter header
    </li>

    <li>
      Nice sentence about something
    </li>

    <li>
      Here is some cool stuff
    </li>
  </ul>
</div>
