---
title: Form inputs
---

<%= partial 'views/shared/flash',
            :locals => {:flash => {:notice => 'Some information for you. <form><button>Do something</button>',
                                   :success => 'Your form submitted successfully!',
                                   :error => 'There are a few errors for you to address.'}} %>

<div class="application--content">
  <form class="modal list-container">
    <div class="flash flash-info">
      <p>Some information for you.</p>
    </div>
  </form>
</div>
