---
title: Form inputs
---

<form class="list-container">
  <h1>Flash messages</h1>

  <div class="flash flash-info">
    <p>Some information for you.</p>
  </div>

  <div class="flash flash-success">
    <p>Your form submitted successfully!</p>
  </div>

  <div class="flash flash-error">
    <p>There are a few errors for you to address.</p>
  </div>
</form>
