---
title: Form inputs
---

<form class="modal">
  <fieldset class="modal--content">
    <legend>Radio Buttons:</legend>
    
    <div class="form-field radio-wrap">
      <label>A choice</label>

      <span class="radio">
        <input type="radio" id="radio1" name="ydtd-radio" value="selected" />
        <label for="radio1">Example Label</label>
      </span>

      <span class="radio">
        <input type="radio" id="radio2" name="ydtd-radio" value="clear" />
        <label for="radio2">Example Label</label>
      </span>

      <span class="radio">
        <input type="radio" id="radio3" name="ydtd-radio" value="error" class="error" />
        <label for="radio3">Example Label</label>
      </span>
    </div>
  </fieldset>

  <fieldset class="modal--content">
    <legend>Checkboxes</legend>

    <div class="form-field checkbox-wrap">
      <label>A selection</label>

      <span class="checkbox">
        <input type="checkbox" id="checkbox1" name="ydtd-checkbox" value="selected" />
        <label for="checkbox1">First</label>
      </span>

      <span class="checkbox">
        <input type="checkbox" id="checkbox2" name="ydtd-checkbox" value="clear" />
        <label for="checkbox2">Second</label>
      </span>

      <span class="checkbox">
        <input type="checkbox" id="checkbox3" name="ydtd-checkbox" value="error" class="error" />
        <label for="checkbox3">This</label>
      </span>
    </div>
  </fieldset>

  <fieldset class="modal--content">
    <legend>Text Inputs and Buttons</legend>

    <div class="form-field">
      <label for="first-name">First Name</label>
      <input type="text" id="first-name" name="first-name" />
    </div>

    <div class="form-field">
      <label for="surname">Surname</label>
      <input type="text" id="surname" name="surname" class="error" />
    </div>

    <div class="form-field">
      <label for="surname">Disabled</label>
      <input type="text" id="surname" name="surname" disabled class="disabled" />
    </div>

    <div class="form-field">
      <label for="first-name">Bio</label>
      <textarea id="bio" name="bio"></textarea>
    </div>

    <input type="submit" class="button large" />
  </fieldset>

  <fieldset class="modal--content">
    <legend>Selects</legend>

    <div class="form-field">
      <label for="country">Select a Country</label>

      <select id="country">
        <option value="united-states">United States</option>
        <option value="united-kingdom">United Kingdom</option>
        <option value="afghanistan">Afghanistan</option>
        <option value="aland-islands">Aland Islands</option>
        <option value="albania">Albania</option>
        <option value="algeria">Algeria</option>
        <option value="american-samoa">American Samoa</option>
      </select>
    </div>

    <div class="form-field">
      <label for="country_alt">Select another Country</label>

      <select multiple id="country_alt">
        <option value="united-states">United States</option>
        <option value="united-kingdom">United Kingdom</option>
        <option value="afghanistan">Afghanistan</option>
        <option value="aland-islands">Aland Islands</option>
        <option value="albania">Albania</option>
        <option value="algeria">Algeria</option>
        <option value="american-samoa">American Samoa</option>
      </select>
    </div>
  </fieldset>
</form>
