---
title: Form inputs
---

<form class="modal">
  <fieldset class="modal--content">
    <legend>Radio Buttons:</legend>
    <div class="radio-wrap">
      <input type="radio" id="radio1" name="ydtd-radio" value="selected" />
      <label for="radio1">Example Label</label>
    </div>

    <div class="radio-wrap">
      <input type="radio" id="radio2" name="ydtd-radio" value="clear" />
      <label for="radio2">Example Label</label>
    </div>

    <div class="radio-wrap">
      <input type="radio" id="radio3" name="ydtd-radio" value="error" class="error" />
      <label for="radio3">Example Label</label>
    </div>

    <legend>Checkboxes:</legend>

    <div class="checkbox-wrap">
      <input type="checkbox" id="checkbox1" name="ydtd-checkbox" value="selected" />
      <label for="checkbox1">Example Label</label>
    </div>

    <div class="checkbox-wrap">
      <input type="checkbox" id="checkbox2" name="ydtd-checkbox" value="clear" />
      <label for="checkbox2">Example Label</label>
    </div>

    <div class="checkbox-wrap">
      <input type="checkbox" id="checkbox3" name="ydtd-checkbox" value="error" class="error" />
      <label for="checkbox3">Example Label</label>
    </div>

    <legend>Text Inputs:</legend>
    <label for="first-name">First Name:</label>
    <input type="text" id="first-name" name="first-name" />

    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" class="error" />

    <label for="first-name">Bio:</label>
    <textarea id="bio" name="bio"></textarea>

    <legend>Selects:</legend>
    <select id="country">
      <option value="united-states">United States</option>
      <option value="united-kingdom">United Kingdom</option>
      <option value="afghanistan">Afghanistan</option>
      <option value="aland-islands">Aland Islands</option>
      <option value="albania">Albania</option>
      <option value="algeria">Algeria</option>
      <option value="american-samoa">American Samoa</option>
    </select>

    <select multiple id="country_alt">
      <option value="united-states">United States</option>
      <option value="united-kingdom">United Kingdom</option>
      <option value="afghanistan">Afghanistan</option>
      <option value="aland-islands">Aland Islands</option>
      <option value="albania">Albania</option>
      <option value="algeria">Algeria</option>
      <option value="american-samoa">American Samoa</option>
    </select>

  </fieldset>
</form>

<div class="pagination-container">
  <nav class="pagination">
    <span class="first">
      <a href="#">&laquo;</a>
    </span>

    <span class="prev">
      <a href="#" rel="prev">&lsaquo;</a>
    </span>

    <span class="page">
      <a href="#" rel="prev">1</a>
    </span>

    <span class="page current">2</span>

    <span class="page">
      <a href="#" rel="next">...</a>
    </span>

    <span class="page">
      <a href="#" rel="next">7</a>
    </span>

    <span class="next">
      <a href="#" rel="next">&rsaquo;</a>
    </span>

    <span class="last">
      <a href="#">&raquo;</a>
    </span>
  </nav>
</div>
