---
title: Form inputs
---

<form class="list-container">
  <h1>Form Styleguide</h1>

  <fieldset>
    <h2>Radio Buttons</h2>
    
    <div class="form-field radio-wrap">
      <label>A choice</label>

      <span class="radio">
        <input type="radio" id="radio1" name="ydtd-radio" value="selected" />
        <label for="radio1">Example Label</label>
      </span>

      <span class="radio">
        <input type="radio" id="radio2" name="ydtd-radio" value="clear" />
        <label for="radio2">Example Label</label>
      </span>

      <span class="radio">
        <input type="radio" id="radio3" name="ydtd-radio" value="error" class="error" />
        <label for="radio3">Example Label</label>
      </span>
    </div>
  </fieldset>

  <fieldset>
    <h2>Checkboxes</h2>

    <div class="form-field checkbox-wrap">
      <label>A selection</label>

      <span class="checkbox">
        <input type="checkbox" id="checkbox1" name="ydtd-checkbox" value="selected" />
        <label for="checkbox1">First</label>
      </span>

      <span class="checkbox">
        <input type="checkbox" id="checkbox2" name="ydtd-checkbox" value="clear" />
        <label for="checkbox2">Second</label>
      </span>

      <span class="checkbox">
        <input type="checkbox" id="checkbox3" name="ydtd-checkbox" value="error" />
        <label for="checkbox3">This</label>
      </span>

      <span class="input-error-message">
        Please select one or more options
      </span>
    </div>

    <div class="form-field checkbox-wrap form-field-inline form-field-error">
      <label>A selection</label>

      <span class="checkbox">
        <input type="checkbox" id="checkbox4" name="ydtd-checkbox" value="selected" />
        <label for="checkbox4">First</label>
      </span>

      <span class="checkbox">
        <input type="checkbox" id="checkbox5" name="ydtd-checkbox" value="clear" />
        <label for="checkbox5">Second</label>
      </span>

      <span class="checkbox">
        <input type="checkbox" id="checkbox6" name="ydtd-checkbox" value="error" />
        <label for="checkbox6">This</label>
      </span>

      <span class="input-error-message">
        Please select one or more options
      </span>
    </div>
  </fieldset>

  <fieldset>
    <h2>Text Inputs and Buttons</h2>

    <div class="form-field">
      <label for="first-name">First Name</label>
      <input type="text" id="first-name" name="first-name" />
    </div>

    <div class="form-field form-field-error">
      <label for="surname">Surname</label>

      <input type="text" id="surname" name="surname" />

      <span class="input-error-message">
        Please enter your surname
      </span>
    </div>

    <div class="form-field">
      <label for="surname">Disabled</label>
      <input type="text" id="surname" name="surname" disabled class="disabled" />
    </div>

    <div class="form-field form-field-inline">
      <label for="nickname">Nickname</label>
      <input type="text" id="nickname" name="nickname" />
    </div>

    <div class="form-field form-field-inline">
      <label for="alt-name">Alt name</label>
      <input type="text" id="alt-name" name="alt-name" class="input-small" />
    </div>

    <div class="form-field">
      <label for="bio">Bio</label>
      <textarea id="bio" name="bio"></textarea>
    </div>

    <input type="submit" class="button large" />
  </fieldset>

  <fieldset>
    <h2>Selects</h2>

    <div class="form-field">
      <label for="country">Select a Country</label>

      <select id="country">
        <option value="united-states">United States</option>
        <option value="united-kingdom">United Kingdom</option>
        <option value="afghanistan">Afghanistan</option>
        <option value="aland-islands">Aland Islands</option>
        <option value="albania">Albania</option>
        <option value="algeria">Algeria</option>
        <option value="american-samoa">American Samoa</option>
      </select>
    </div>

    <div class="form-field">
      <label for="country_alt">Select another Country</label>

      <select multiple id="country_alt">
        <option value="united-states">United States</option>
        <option value="united-kingdom">United Kingdom</option>
        <option value="afghanistan">Afghanistan</option>
        <option value="aland-islands">Aland Islands</option>
        <option value="albania">Albania</option>
        <option value="algeria">Algeria</option>
        <option value="american-samoa">American Samoa</option>
      </select>
    </div>
  </fieldset>

  <fieldset>
    <h2>Date picker</h2>

    <div class="form-field date">
      <label for="date">Date of birth</label>

      <select class="date required">
        <option value="2009">2009</option>
        <option value="2010">2010</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
      </select>

      <select class="date required">
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>
      
      <select class="date required">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>
    </div>

    <div class="form-field date form-field-inline form-field-error">
      <label for="date">Another date</label>

      <select class="date required">
        <option value="2009">2009</option>
        <option value="2010">2010</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
      </select>

      <select class="date required">
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>

      <select class="date required">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>

      <span class="input-error-message">
        Please select another date
      </span>
    </div>
  </fieldset>
</form>
