---
title: Profile
---

<section class="user--profile">
  <div class="user--profile-sidebar">
    <div class="user--profile-avatar">
      <%= image_tag "https://pbs.twimg.com/profile_images/3776512231/34545e042d6a57e93dbe940d13ce6888.jpeg", :size => "167x167", :alt => "username", :class => "user--avatar-full-width" %>
      <span class="user--profile-status-note">New</span>
      <h4 class="user--profile-name">Seb Ashton</h4>
      <p class="user--profile-role">Developer</p>
    </div>
    <ul class="user--profile-tabs">
      <li><a href="#" class="active"><i class="icon-cloud"></i>Personal</a></li>
      <li><a href="#"><i class="icon-briefcase"></i>Business</a></li>
      <li><a href="#"><i class="icon-sun"></i>Holidays</a></li>
      <li><a href="#"><i class="icon-aid"></i>Sickness</a></li>
      <li><a href="#"><i class="icon-doc"></i>Document</a></li>
    </ul>

  </div>
  <div class="user--profile-content">
    <ul class="content-tabs">
      <li><a href="#" class="active">Overview</a></li>
      <li><a href="#">Notifications (4)</a></li>
    </ul>
    <div class="content-body">
      <a href="#">Seb Ashton</a> is a Developer.
      He has worked at Made for <a href="#">18 months</a>, he's been off sick <a href="#">0 times</a> and has taken <a href="#">5</a> of his <a href="#">8 holiday days</a>. Seb works within the <a href="#">Frontend</a> team, his manager is <a href="#">Rory MacDonald</a>.
    </div>
  </div>
</section>