---
title: Reset your password
body_class: bohek
html_class: full-height
---

<div class="row">
  <div class="login-modal-container">

    <div class="ydtd-logo-group">
      <%= partial "shared/logo-white" %>
    </div>

    <%= partial "modules/modal-w-header", :locals => {
      :id => "reset-password",
      :title => "Reset your password",
      :content => "<form><fieldset><label for='email'>YourEmail</label>
    <input type='email' id='email' name='email' /><a href='login.html' class='form-link'>Back to Login</a><button class='submit'><span>Send</span></button></fieldset></form>"
    } %>
  </div>
</div>

<footer class="footer--minimal">
  <small class="copyright">
    © <span itemprop="copyrightYear">2013</span> YourDayTheirDay Limited. All rights reserved. <span itemprop="copyrightHolder" itemscope="" itemtype="http://schema.org/Organization">A <a itemprop="url" href="http://madebymade.co.uk" target="_blank"><span itemprop="name">Made by Made</span></a> Company</span>
  </small>
</footer>
