---
title: PJAX Tabs
body_class: bohek
---
<div id="tabbed-list-container" class="list-container">
  <div id="table-tabs" class="table-tabs">
    <a href="tabbed_lists.html">
      <span>Active</span>
      <span class="tab-figure">788</span>
    </a>
    <a href="tabbed_lists_2.html" class="active">
      <span>Unsubscribed</span>
      <span class="tab-figure">0</span>
    </a>
    <a href="#">
      <span>Bounced</span>
      <span class="tab-figure">102</span>
    </a>
    <a href="#">
      <span>Deleted</span>
      <span class="tab-figure">0</span>
    </a>
    
    <%#= partial "modules/search_bar", :locals => {:placeholder => 'Search Lists?'} %>
  </div>

  <div id="subscribers-container" class="subscribers-container" data-pjax-container>
    <table>
      <tr class="table-headers">
        <th class="desktop-only">Email Address</th>
        <th>Name</th>
        <th class="subscribed-column">Subscribed</th>
        <th class="checkbox-column">
          <div class="checkbox-wrap">
            <input type="checkbox" id="check_all"/>
            <label for="check_all"></label>
          </div>
        </th>
      </tr>
      <tr>
        <td class="desktop-only">example@five.com</td>
        <td>Bill Cosby</td>
        <td>01/11/14</td>
        <td>
          <div class="checkbox-wrap">
            <input type="checkbox" id="check_one"/>
            <label for="check_one"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td class="desktop-only">example@six.com</td>
        <td>Steve Buscemi</td>
        <td>01/11/14</td>
        <td>
          <div class="checkbox-wrap">
            <input type="checkbox" id="check_one"/>
            <label for="check_one"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td class="desktop-only">example@seven.com</td>
        <td>Yogi Bear</td>
        <td>01/11/14</td>
        <td>
          <div class="checkbox-wrap">
            <input type="checkbox" id="check_one"/>
            <label for="check_one"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td class="desktop-only">example@eight.com</td>
        <td>Albert Wesker</td>
        <td>01/11/14</td>
        <td>
          <div class="checkbox-wrap">
            <input type="checkbox" id="check_one"/>
            <label for="check_one"></label>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div id="updates-list-container" class="updates-list-container list-container">
  <table>
    <tr class="table-headers">
      <th>Recent Updates</th>
      <th class="time-ago">
    </tr>
    <tr>
      <td>
        <span class="status draft">Draft</span>
        Rory created a new profile
      </td>
      <td class="time-ago">6 hours ago</td>
    </tr>
    <tr>
      <td>
        <span class="status sent">Sent</span>
        Rory created a new profile
      </td>
      <td class="time-ago">6 hours ago</td>
    </tr>
    <tr>
      <td>
        <span class="status draft">Draft</span>
        Rory created a new profile
      </td>
      <td class="time-ago">6 hours ago</td>
    </tr>
  </table>
</div>
