<footer class="application--footer">
  <div>
    <nav class="application--links">
      <ul>
        <li><a href="#">Privacy & Security</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Status</a></li>
      </ul>
    </nav>

    <div class="application--footer-logo">
      <a class="grey-ydtd-logo centered">
        YourDay TheirDay
      </a>
    </div>
  </div>
</footer>
