<header class="header--masthead">
  <div>
    <h1 class="white-ydtd-logo centered large">Your Day Their Day</h1>
    <h2>Spending too much time fighting for <em class="highlight-primary">resource?</em></h2>
    <p>
      Introducing YDTD—an online service designed for Creative agencies.
      It helps them to be more organised and makes resource planning a breeze.
    </p>
  </div>
</header>

<main>
  <div class="section-grey uneven">
    <div class="row">
      <div class="marketing--centered-container">
        <form class="form--inline-2-inputs--button-pushed">
          <input class="large" type="email" placeholder="Email Address" />
          <input class="large" type="text" placeholder="Company Name" />
          <button class="button-primary large" type="submit">Sign Up</button>
        </form>

        <p>YDTD is in limited preview release. Sign up to get your invitation.</p>
      </div>
    </div>
  </div>

  <div>
    <ul>
      <li>
        <section>
          <span></span>
          <h2>Flexible and easy to use interface.</h2>
          <p>Nullam id ipsum quis leo dictum feugiat. Praesent rhoncus diam erat,
            vehicula cursus mi interdum nec.</p>
        </section>
      </li>
      <li>
        <section>
          <span></span>
          <h2>It's never been easier to book resource.</h2>
          <p>Nullam id ipsum quis leo dictum feugiat. Praesent rhoncus diam erat,
            vehicula cursus mi interdum nec.</p>
        </section>
      </li>
      <li>
        <section>
          <span></span>
          <h2>Pinpoint clashes & your freelance needs.</h2>
          <p>Nullam id ipsum quis leo dictum feugiat. Praesent rhoncus diam erat,
            vehicula cursus mi interdum nec.</p>
        </section>
      </li>
    </ul>
  </div>

  <section>
    <ul class="marketing--centered-container">
      <% 4.times do %>
      <li>
        <blockquote itemprop="review" itemscope itemtype="http://schema.org/Review">
          <p>
            “<span itemprop="reviewBody">Nullam id ipsum quis leo dictum feugiat. Praesent rhoncus diam erat, vehicula cursus mi interdum nec.</span>”
          </p>
          <cite>From <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{customer_name}</span>, <span itemprop="affiliation" itemtype="http://schema.org/Organization"><span itemprop="name">{customer_location}</span></span></span></cite>
        </blockquote>
      </li>
      <% end %>
    </ul>
  </section>

  <div class="section-primary marketing--full-signup">
    <h3>We’re on a mission to make agency life simpler, more pleasant and more productive.</h3>

    <div>
      <h4>Join our mission, signup for a FREE trial of YDTD.</h4>
      <p>
        We’ll get your account setup right away and our dedicated setup team
        will be in touch, to help you hit the ground running.
      </p>

      <form class="form--inline-3-inputs">
        <input class="large" type="text" placeholder="Name" />
        <input class="large" type="email" placeholder="Email Address" />
        <input class="large" type="text" placeholder="Company Name" />
        <button class="button-primary large" type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</main>

<footer class="marketing--footer">
  <div>
    <div>
      <a class="ydtd-logo sml">
        YourDay TheirDay
      </a>
      <small>© Made by Made Ltd. 2013. All rights reserved.<br>The YDTD logo and name are trademarks of Made by Made Ltd.</small>
    </div>


    <ul class="marketing--information-links">
      <li><a>Contact Us</a></li>
      <li><a>Blog</a></li>
      <li><a>Help & Support</a></li>
      <li><a>Security</a></li>
      <li><a>Privacy Policy</a></li>
      <li><a>Terms</a></li>
    </ul>
  </div>
</footer>
