<header class="header--masthead">
  <div>
    <h1 class="white-ydtd-logo centered large">Your Day Their Day</h1>
    <h2>Spending too much time fighting for <em class="highlight-primary">resource?</em></h2>
    <p>
      Introducing YDTD—an online service designed for Creative agencies.
      It helps them to be more organised and makes resource planning a breeze.
    </p>
  </div>

  <div class="header--signup no-mobile">
    <form class="form--inline-2-inputs" action="//email.yourdaytheirday.com/t/r/s/tykhluh/" method="POST">
      <input class="large" type="email" placeholder="Email Address" name="cm-tykhluh-tykhluh" required />
      <input class="large" type="text" placeholder="Company Name" name="cm-f-jyddhtu" />
      <button class="button-primary large" type="submit">Sign Up</button>
    </form>

    <p>YDTD is in limited preview release. Sign up to get your invitation.</p>
  </div>
</header>

<main>
  <div class="bg-white">
    <ul class="list-three-tiles marketing--feature-boast">
      <li>
        <section>
          <span class="icon-clock"><i class="fa fa-clock-o"></i></span>
          <h2><span>Flexible and easy to use interface.</span></h2>
          <p>Nullam id ipsum quis leo dictum feugiat. Praesent rhoncus diam erat,
            vehicula cursus mi interdum nec.</p>
        </section>
      </li>
      <li>
        <section>
          <span class="icon-user-add"><i class="fa fa-users"></i></span>
          <h2><span>It's never been easier to book resource.</span></h2>
          <p>Nullam id ipsum quis leo dictum feugiat. Praesent rhoncus diam erat,
            vehicula cursus mi interdum nec.</p>
        </section>
      </li>
      <li>
        <section>
          <span class="icon-marker"><i class="fa fa-map-marker"></i></span>
          <h2><span>Pinpoint clashes & your freelance needs.</span></h2>
          <p>Nullam id ipsum quis leo dictum feugiat. Praesent rhoncus diam erat,
            vehicula cursus mi interdum nec.</p>
        </section>
      </li>
    </ul>
  </div>

  <section class="marketing--quotes bg-grey-lighter no-mobile">
    <div class="blockquote-block">
      <ul class="list-two-tiles">
        <% 4.times do %>
        <li>
          <blockquote itemprop="review" itemscope itemtype="http://schema.org/Review">
            <p>
              “<span itemprop="reviewBody">Nullam id ipsum quis leo dictum feugiat. Praesent rhoncus diam erat, vehicula cursus mi interdum nec.</span>”
            </p>
            <cite>
              <span itemprop="author" itemscope itemtype="http://schema.org/Organization">
                <a href="#"><img src="<%= image_path('holding/logo-design-week.png') %>"></a>
              </span>
            </cite>
          </blockquote>
        </li>
        <% end %>
      </ul>
    </div>
  </section>

  <div class="bg-primary marketing--full-signup">
    <h3>We’re on a mission to make agency life simpler, more pleasant and more productive.</h3>

    <div>
      <h4 class="no-mobile">Join our mission, signup for a FREE trial of YDTD.</h4>
      <p class="no-mobile">
        We’ll get your account setup right away and our dedicated setup team
        will be in touch, to help you hit the ground running.
      </p>

      <form class="form--inline-3-inputs" action="//email.yourdaytheirday.com/t/r/s/tykhluh/" method="POST">
        <input class="large" type="text" placeholder="Name" name="cm-name" />
        <input class="large" type="email" placeholder="Email Address" name="cm-tykhluh-tykhluh" />
        <input class="large" type="text" placeholder="Company Name" name="cm-f-jyddhtu" />
        <button class="button-primary large" type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</main>

<footer class="marketing--footer">
  <div>
    <div>
      <a class="ydtd-logo sml">
        YourDay TheirDay
      </a>
      <small>© <span itemprop='copyrightHolder' itemscope itemtype='http://schema.org/Organization'><a itemprop='url' href="http://www.madebymade.co.uk"><span itemprop='name'>Made by Made Ltd</span></a></span>. <span itemprop='copyrightYear'>2013</span>. All rights reserved.<br>The YDTD logo and name are trademarks of Made by Made Ltd.</small>
    </div>


    <ul class="marketing--information-links">
      <li><a>Contact Us</a></li>
      <li><a>Blog</a></li>
      <li><a>Help & Support</a></li>
      <li><a>Security</a></li>
      <li><a>Privacy Policy</a></li>
      <li><a>Terms</a></li>
    </ul>
  </div>
</footer>
