$greyLight: #f3f3f3;
$grey: #ccc;

$white: #fff;

$error: #e26b6b;


//colours that can be customised
$custom-primary: #00cdff;
// used in:
// login background
// standalone button

$custom-secondary: #00669f;
// used in:
// primary button

$custom-header: #046494;
