// Grid Settings
$row-max-width: 940px !default;                                  // 960px
$gutter-in-px: 20px !default;                                    // 20px
$cols: 16 !default;                                              // 16 Column Default Grid
$hybrid: 16 !default;                                            // 16 Column Default Hybrid Grid

// Responsiveness Settings
$min-device-width: 320px;                                       // iPhone Portrait
$tablet-device-width: 768px;                                    // iPad Portrait
$document-width: $row-max-width;                                // Default Document
$max-device-width: 2000px;                                      // Max Document Size

// Typography
$font-family: "Gotham";
$font-style-italic: italic;
$icons: entypo;
$font-smoothing: antialiased;

// Font Weights
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 400;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 300;

$header-font-weight: $font-weight-thin;
$body-font-weight: $font-weight-regular;
$type-font-weight: $font-weight-regular;
$link-font-weight: $font-weight-regular;
$button-font-weight: $font-weight-semibold;
$tabs-font-weight: $font-weight-semibold;

// Vertical Rhythm Spacing
$base-line-height: ms(1) !default;
$rhythm-spacing: .168;
$rhythm-height: .711;

// Modular Scale Settings
// http://www.modularscale.com by Tim Brown
// https://github.com/scottkellum/modular-scale
$ratio: golden();
$base-font-size: 14px !default;
$importantNum: 140px !default;
$base-size: $base-font-size $importantNum;

// Sizing
$xxsmall: 8px;
$xsmall: 10px;
$small: 12px;
$norm: $base-font-size; // $base-font-size (14px == default)
$med: 15px;
$large: 18px;
$larger: 21px;
$xlarge: 26px;
$xxlarge: 32px;
$xxxlarge: 48px;
$reallybig: 72px;
$tremendous: 140px;
$absurd: 200px;

//colors - http://chir.ag/projects/name-that-color/

// Floats
$default-float: left;
$switch-float: right;

$border-radius: 3px;
$box-shadow-large: 0 5px 5px rgba(0,0,0,0.3);
