.application--breadcrumb {
  background: $greyLight;
  border-bottom: 1px solid $greyDarker;
  color: $greyDarkest;
  font-family: $font-family;
  @include font-size($small);
  padding: 15px;

  a {
    border-bottom: 1px solid $greyDarkest;
    color: #000;
    font-weight: $font-weight-medium;
    @include inline-block;

    &:hover {
      color: $custom-secondary;
    }
  }
}
