.application--breadcrumbs {
  background: $greyLight;
  color: $greyDarkest;
  font-family: $font-family;
  @include font-size($small);
  padding-top: 0;
  padding-bottom: 0;
  display: none;

  a {
    border-bottom: 1px solid $greyDarkest;
    color: #000;
    font-weight: $font-weight-medium;
    @include inline-block;

    &:hover {
      color: $custom-secondary;
    }
  }

  @include respond(desktop) {
    display: block;
  }
}
 
