button {
  &.submit {
    @include inline-block;
    float: right;
  }
}

@mixin button-color($color) {
  @include background(linear-gradient(lighten($color, 10%) 38%, $color));
  background-color: $color;
  border-color: darken($color, 10%);  
  color: #fff;

  &:hover,
  &:focus {
    @include background(linear-gradient(lighten($color, 12%) 38%, $color));
  }

  &:active {
    @include background(linear-gradient($color 38%, lighten($color, 12%)));
  }
}


button,
.button {
  margin-top: $xlarge;
  padding: 0.5em 15px;
  border: $button-border solid;
  outline: none;
  display: block;
  width: 100%;

  font-family: $font-family;
  font-weight: bold;
  @include font-size($norm);
  line-height: 1;
  @include font-rendering-fix;
  text-align: center;
  letter-spacing: -0.07em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);

  @include button-color($custom-primary);
  @include border-radius($border-radius);
  @include box-shadow(0 1px 0 rgba(0, 0, 0, 0.2),
                      inset 0 1px 2px rgba(255, 255, 255, 0.3));

  &.large {
    padding: 0.75em 15px;
    @include font-size($large);
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  @include respond(desktop) {
    @include inline-block;
    width: auto;
  }
}

a.button {
  line-height: 1;
  text-decoration: none;
  color: #fff;
}

a.button-secondary {
  color: $greyDarkest;
}

.button-primary {
  @extend .button;
  @include button-color($custom-secondary);
}

.button-secondary {
  @extend .button;
  @include button-color($greyLight);
  color: $greyDarkest;
}

.button-search {
  @extend .button-primary;
  @include font-size($large, true);
  padding: 0.5em 15px;
  width: 100%;
}
