.flash {
  @extend p;
  margin-top: $norm;
  padding: $norm;
  border: 1px solid;
  @include border-radius(3px);

  form {
    float: right;
  }

  input.button, a.button {
    margin: -4px 0 0 0;
  }

  &.flash-info {
    border-color: $greyDarker;
    color: shade($greyDarker, 50);
    background-color: $grey;
  }

  &.flash-success {
    border-color: $green;
    color: shade($green, 50);
    background-color: tint($green, 75);
  }

  &.flash-error {
    border-color: $error;
    color: shade($error, 50);
    background-color: tint($error, 75);
  }
}
