::-webkit-input-placeholder {
  color: $greyDarkest;
  font-family: inherit;
}

:-moz-placeholder {
  color: $greyDarkest;
  font-family: inherit;
}

::-moz-placeholder {
  color: $greyDarkest;
  font-family: inherit;
}

:-ms-input-placeholder {
  color: $greyDarkest;
  font-family: inherit;
}

form {
  font: {
    family: $font-family;
    weight: $font-weight-light;
  }
  text-align: left;

  fieldset {
    border: none;
    padding: 0;
  }
}

label {
  @include font-size($small);
}

.checkbox-wrap,
.radio-wrap {
  @include inline-block;
  @include font-size($small);
  position: relative;

  label {
    &:before {
      background-color: #fff;
      border: 1px solid $grey;
      content: "";
      height: 16px;
      @include inline-block;
      left: -5px;
      margin: 5px;
      position: relative;
      top: 0;
      width: 16px;
    }

    &:hover {
      &:before {
        border-color: #000;
      }
    }
  }

  input {
    display: none;

    &:checked + label {
      &:before {
        content: "";
      }
    }

    &.error + label {
      &:before {
        background-color: $error;
      }
    }
  }
}

.checkbox-wrap {
  label {
    &:before {
      @include border-radius($border-radius);
    }
  }

  input {
    &:checked + label {
      &:after {
        content: "X";
        color: $custom-header;
        font-family: Arial, sans-serif;
        left: 5px;
        position: absolute;
        top: 7px;
      }
    }
  }
}

.radio-wrap {
  label {
    &:before {
      @include border-radius(9px);
    }
  }

  input {
    &:checked + label:after {
      background-color: $custom-primary;
      @include border-radius(3px);
      content: "";
      height: 8px;
      left: 6px;
      position: absolute;
      top: 10px;
      width: 8px;
    }
  }
}

input {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  border: none;
  display: block;
  outline: none;

  &[type=email],
  &[type=text],
  &[type=password] {
    background-color: #fff;
    border: 1px solid $grey;

    &:focus,
    &:hover {
      border-color: #000;
    }
  }

  &[type=email],
  &[type=text],
  &[type=password] {
    @include border-radius(3px);
    margin: {
      bottom: 10px;
      top: 10px;
    }
    padding: 0.65em 16px 0.64em;
    width: 440px;

    &.large {
      @include font-size($large);
      padding: 18px;
    }
  }

  &.error {
    &:before {
      background-color: $error;
    }
  }

  &[type=email],
  &[type=text],
  &[type=password] {
    width: 100%;

    &.error {
      background-color: $error;
    }
  }
}

select {
  width: 300px;
}

button {
  &.submit {
    @include inline-block;
    float: right;
  }
}

.error-message {
  color: $error;
}

.success p {
  margin-top: 0;
}

.form-link {
  @include font-size($small);
  font-weight: $font-weight-semibold;

  &:hover {
    color: $custom-header;
  }
}

.pagination-container {
  background-color: $greyLightest;
  font: {
    family: $font-family;
    weight: $font-weight-semibold;
  }
  @include font-size($norm);
  padding: 50px 0;
  text-align: center;

  span {
    &.current {
      background-color: $custom-header;
      border-radius: $border-radius;
      color: #fff;
      line-height: 21px;
      min-height: 21px;
      min-width: 21px;
      @include inline-block;
      padding: 0 6px;
    }

    a {
      border-radius: $border-radius;
      color: #000;
      line-height: 21px;
      min-height: 21px;
      min-width: 21px;
      @include inline-block;
      padding: 0 6px;
      text-align: center;

      &:hover {
        background-color: $custom-primary;
        color: #fff;
      }
    }

    &.first,
    &.prev,
    &.next,
    &.last {
      a {
        font-weight: $font-weight-light;
      }
    }
  }
}
