.notification--flash {
  margin: 0px 0;
  font-weight: bold;
  color: #090;
  background-color: #f2fdf2;
  border: 1px solid #00C500;
  padding: 8px 12px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
