.profile-summary {
  font-weight: normal;
  line-height: 1.5;

  strong, a {
    font-weight: normal;
    color: $custom-primary;
  }

  a {
    text-decoration: underline;

    &:hover, &:focus {
      color: $custom-secondary;
    }
  }
}

.user--profile {
  background-color: $white;
  @include box-shadow($box-shadow-large);
  font-family: $font-family;
  overflow: auto;
  width: 100%;

  .user--profile-sidebar {
    background-color: $greyDarkest;
    float: left;
    width: 21.5%;

    @include respond(all-phones) {
      width: 100%;
    }
  }

  .user--profile-avatar {
    padding: 20px 25px 6px;

    @include respond(all-phones) {
      text-align: center;
    }

    .user--profile-name,
    .user--profile-role,
    .user--profile-status-note {
      color: $white;

      @include respond(all-phones) {
        text-align: center;
      }
    }

    .user--profile-name,
    .user--profile-role {
      margin: 0;
      padding: 0;
    }

    .user--profile-role {
      line-height: 15px;
    }

    .user--profile-status-note {
      background-color: $custom-primary;
      @include inline-block;
      font: {
        size: $xxsmall;
        weight: $font-weight-bold;
      }
      margin-bottom: 3px;
      padding: 4px 9px;
      text-transform: uppercase;
    }

    .user--avatar-full-width {
      margin: 0 auto 10px;

      @include respond(all-phones) {
        display: none;
      }
    }
  }

  .user--profile-tabs {
    color: $white;
    list-style-type: none;
    margin: {
      bottom: 0;
      left: 0;
      right: 0;
    }
    padding: 0;

    li {
      padding-bottom: 0px;
      padding-top: 1px;
    }

    a {
      background-color: $greyDusk;
      color: $white;
      display: block;
      font-size: $med;
      padding: 16px 25px 18px;

      i {
        color: $greyDarkest;
        margin-right: 16px;

        @include respond(all-phones) {
          display: none;
        }
      }

      @include respond(all-phones) {
        text-align: center;
      }

      &:hover {
        background-color: $custom-primary;
      }

      &.active {
        background-color: $white;
        color: $custom-primary;
        font-weight: $font-weight-bold;

        i {
          color: $custom-primary;
        }
      }
    }
  }

  .user--profile-content {
    float: right;
    width: 78.5%;

    @include respond(all-phones) {
      width: 100%;
    }

    .content-tabs {
      background-color: $greyLighter;
      border: {
        bottom: 1px solid $greyDarker;
        top: 1px solid $greyDarker;
      }
      margin: 0;
      overflow: auto;
      padding: 0;

      li {
        border-right: 1px solid $greyDarker;
        float: left;
        padding-bottom: 0;

        @include respond(all-phones) {
          border-right: 0;
          border-top: 1px solid $greyDarker;
          width: 100%;
        }

        a {
          color: $greyMidnight;
          display: block;
          font: {
            size: $norm;
            weight: $font-weight-bold;
          }
          padding: {
            bottom: 14px;
            top: 14px;
          }
          text-align: center;
          width: 160px;

          @include respond(all-phones) {
            width: 100%;
          }

          &:hover {
            background-color: $custom-secondary;
            color: $white;
          }

          &.active {
            color: $greyMidnight;
            background-color: #fff;
          }
        }
      }
    }

    .content-body {
      color: $greyDusk;
      font: {
        size: $xxxlarge;
        weight: $font-weight-regular;
      }
      line-height: 43px;
      padding: 26px 50px;

      @include respond(all-phones) {
        font-size: $med;
        line-height: 18px;
        padding: 26px 20px;
      }

      a {
        border-bottom: 1px solid $custom-primary;
        color: $custom-primary;

        &:hover {
          border-bottom: 1px solid $custom-secondary;
          color: $custom-secondary;
        }
      }
    }
  }
}
