.profile-badge {
  overflow: hidden;
}

.profile-badge-large {
  @extend .profile-badge;
}

.profile-badge-avatar {
  @extend %framed-image;
  @include border-radius(50%);
  width: auto;
  height: auto;
  max-height: 60px;
  float: left;
}

.profile-badge-details {
  padding: $xxsmall 0 0 $large;
  float: left;
}

.profile-badge-name,
.profile-badge-role {
  font-size: $large;
  color: $white;
  padding: 0;
}

.profile-badge-role {
  font-weight: normal;
}

@include respond(desktop) {
  .profile-badge-large {
    .profile-badge-avatar {
      float: none;
      max-width: 100%;
      max-height: none;
    }

    .profile-badge-details {
      padding: $large 0 0 0;
    }
  }
}
