.profile-badge {
}

.profile-badge-avatar {
  @extend .user--avatar;
  @include border-radius(50%);
  width: auto;
  height: auto;
  max-width: 160px;
  margin: 0 auto;
}

.profile-badge-name,
.profile-badge-role {
  font-size: $large;
  color: $white;
}

.profile-badge-role {
  padding: 0;
  font-weight: normal;
}
