.list-container {
  background-color: $greyLightest;
  font-family: $font-family;
  padding: $norm;
}

.table-tabs {
  a {
    background-color: $grey;
    border: {
      bottom: 1px solid none;
      left: 1px solid $grey;
      right: 1px solid $grey;
      top: 2px solid $grey;
    }
    @include box-sizing(border-box);
    color: #000;
    @include inline-block;
    margin: 0 1px -2px 0;
    padding: 9px 14px;
    min-width: 100px;
    text-align: center;

    span {
      display: block;
      @include font-size($small);

      @include respond(desktop) {
        @include font-size($norm);
      }

      &.tab-figure {
        @include font-size($xxlarge);
      }
    }

    &:hover, &:focus {
      background-color: $custom-secondary;
      border-color: $custom-secondary;
      color: $white;
    }

    &.active {
      background-color: $white;
      border: {
        bottom: 2px solid $white;
        left: 1px solid $grey;
        right: 1px solid $grey;
        top: 3px solid $custom-secondary;
      }
      color: #000;
      margin-bottom: -1px;
    }
  }

  #search-wrap {
    text-align: right;
    width: 100%;
  }

  .search-bar {
    float: right;
    @include inline-block(middle);
    margin-top: 14px;
    width: auto;

    @include respond(all-phones) {
      margin: {
        bottom: 20px;
        top: 0;
      }
    }
  }
}

.subscribers-container,
.updates-list-container,
.table-container {
  table {
    table-layout: fixed;
    text-align: left;
    width: 100%;
  }

  .table-empty-row, tr {
    border-bottom: 1px solid $grey;
  }

  th,
  td,
  .table-empty-row {
    @include font-size($small);
    font-weight: $font-weight-regular;
    padding: 9px 14px;
  }

  .table-empty-row {
    text-align: center;
    font-style: italic;
  }

  a {
    color: $custom-primary;
    font-weight: bold;
    text-decoration: underline;

    &:hover, &:focus {
      color: $custom-secondary;
    }
  }

  .subscribed-column {
    width: 200px;
  }

  .is-sorted.down {
    &:after {
      color: $custom-secondary;
      content: "\e600";
      @include inline-block;
      font-family: 'icomoon';
      margin-left: 5px;
      @include rotate(180deg);
    }

    @include respond(all-phones) {
      width: auto;

      &:after {
        display: none;
      }
    }
  }

  .checkbox-column {
    width: 46px;
  }

  .table-headers {
    background-color: $white;
    border: 1px solid $grey;
  }
}

.updates-list-container {
  .status {
    @include border-radius(5px);
    color: $white;
    @include inline-block;
    @include font-size($xsmall);
    font-weight: $font-weight-semibold;
    left: -15px;
    padding: 2px 5px;
    position: relative;
    text: {
      align: center;
      transform: uppercase;
    }
    width: 50px;

    &.draft {
      background-color: $custom-secondary;
    }

    &.sent {
      background-color: $custom-primary;
    }

    @include respond(all-phones) {
      display: block;
      margin-left: 15px;
      margin-bottom: 5px;
    }
  }

  .time-ago {
    text-align: right;
    width: 200px;

    @include respond(all-phones) {
      width: auto;
    }
  }
}
