.user--avatar {
  @extend %framed-image;
  height: 162px;
  width: 162px;

  a:hover & {
    border-color: lighten($custom-secondary, 50%);
  }
}

.user--avatar-small {
  border-width: 2px;
  @include border-radius(50%);
  @extend .user--avatar;
  height: 77px;
  width: 77px;
}

.user--avatar-full-width {
  border-width: 3px;
  @include border-radius(167px);
  @extend .user--avatar;
  height: 100%;
  width: 100%;
}
