.user--avatar {
  border: 3px solid $white;
  @include box-shadow(0 3px 3px rgba(darken($custom-secondary, 30%), 0.2));
  display: block;
  height: 162px;
  width: 162px;

  a:hover & {
    border-color: lighten($custom-secondary, 50%);
  }
}

.user--avatar-small {
  border-width: 2px;
  @include border-radius(50%);
  @extend .user--avatar;
  height: 62px;
  width: 62px;
}

.user--avatar-full-width {
  border-width: 3px;
  @include border-radius(167px);
  @extend .user--avatar;
  height: 100%;
  width: 100%;
}
