.vertical-tabs {
  overflow: hidden;
  background: $white;
  @extend .modal;
}

.vertical-tabs-sidebar {
  background: $greyDarkest;
  color: $white;
}

.vertical-tabs-sidebar-content {
  padding: $xxxlarge $xxxlarge 0 $xxxlarge;
}

.vertical-tabs-sidebar-navigation {
  margin: 0;
  padding: $xxxlarge 0 0 0;

  li {
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
    padding: $large $xxxlarge;
    background: $greyDusk;
    color: $white;
    margin-bottom: 1px;

    &:hover, &:focus {
      background: $greyDarker;
    }
  }

  .vertical-tabs-sidebar-navigation-current a {
    background: $white;
    color: $custom-primary;
    font-weight: bold;
  }
}

.vertical-tabs-content {
  box-sizing: border-box;
  padding: 0 $xxxlarge $xxlarge $xxxlarge;
}

@include respond(desktop) {
  .vertical-tabs-sidebar,
  .vertical-tabs-content {
    float: left;
  }

  .vertical-tabs-sidebar {
    width: 30%;
    margin-bottom: -5000px;
    padding-bottom: 5000px;
  }

  .vertical-tabs-sidebar-navigation {
    padding-bottom: $tremendous;
  }

  .vertical-tabs-content {
    width: 70%;
    padding: $xxlarge $reallybig $xxlarge*2 $reallybig;
  }
}
