.vertical-tabs {
  overflow: hidden;
  background: $white;
  @extend .modal;
}

.vertical-tabs-sidebar {
  background: $greyDarkest;
  color: $white;
}

.vertical-tabs-sidebar-content {
  padding: $large $xxxlarge 0 $xxxlarge;

  @include respond(desktop) {
    padding-top: $xxxlarge;
  }
}

.vertical-tabs-sidebar-navigation {
  margin: 0;
  padding: $large 0 0 0;

  @include respond(desktop) {
    padding: $xxxlarge 0 0 0;
  }

  li {
    display: none;
    margin: 0;
    padding: 0 0 1px 0;
  }

  a {
    display: block;
    padding: $large $xxxlarge;
    background: $greyDusk;
    color: $white;

    &:hover, &:focus {
      background: $greyDarker;
    }
  }

  .vertical-tabs-sidebar-navigation-current {
    display: block;
    padding: 0;

    a {
      background: $white;
      color: $custom-primary;
      font-weight: bold;
    }
  }

  &:first-child {
    padding: 0;
  }
}

.vertical-tabs-content {
  box-sizing: border-box;
  padding: 0 $xxxlarge $xxlarge $xxxlarge;
}

.vertical-tabs-mobile {
  li {
    display: block;
  }

  .vertical-tabs-sidebar-navigation-current {
    display: none;
  }
}

@include respond(desktop) {
  .vertical-tabs-mobile {
    display: none;
  }

  .vertical-tabs-sidebar-navigation li {
    display: block;

    &.vertical-tabs-sidebar-navigation-current {
      padding: 0 0 1px 0;
    }
  }

  .vertical-tabs-sidebar,
  .vertical-tabs-content {
    float: left;
  }

  .vertical-tabs-sidebar {
    width: 30%;
    margin-bottom: -5000px;
    padding-bottom: 5000px;
  }

  .vertical-tabs-sidebar-navigation {
    padding-bottom: $tremendous;
  }

  .vertical-tabs-content {
    width: 70%;
    padding: $xxlarge $reallybig $xxlarge*2 $reallybig;
  }
}
