<header class="application--header">
  <div>
    <div class="application--header-logo"><img src="http://placehold.it/170x62/00cdff/ffffff/"></div>

    <div class="application--header-mini-profile">
      <div class="user">
        <span class="user--information">
          Welcome
          <a class="profile" href="#user">Joe Bloggs</a>
          <a class="notication"></a>
        </span>
        <a class="user--avatar-wrap" href="#user" data-notification="2">
          <%= image_tag "https://pbs.twimg.com/profile_images/3776512231/34545e042d6a57e93dbe940d13ce6888.jpeg", :size => "62x62", :alt => "username", :class => "user--avatar-small" %>
        </a>
      </div>
      <div class="user--links">
        <a href="#settings">Settings</a> | <a href="#logout">Logout</a>
      </div>
    </div>

    <nav class="application--navigation">
      <ul>
        <li><a href="#yourday"><i class="icon-calendar"></i>YourDay</a></li>
        <li><a href="#hr"><i class="icon-group"></i>HR</a></li>
        <li><a href="#organise"><i class="icon-folder"></i>Organise</a></li>
        <li><a href="#sales"><i class="icon-graph"></i>Sales</a></li>
        <li class="active"><a href="#account"><i class="icon-settings"></i>Account</a></li>
      </ul>
    </nav>
  </div>
</header>
