.marketing--footer {
  background: $white;
  font-family: $font-family;
  color: $greyMidnight;
  padding: 50px 0;

  @include respond(portrait-tablets) {
    padding: 40px 20px;
  }

  @include respond(all-phones) {
    padding: 30px 0;
  }

  & > div {
    @include row;
    padding: 0;

    & > div {
      @include column(5);
    }

    .ydtd-logo {
      margin-bottom: 20px;

      @include respond(all-phones) {
        margin: 0 auto 20px;
      }
    }

    small {
      @include font-size($xsmall);
      line-height: $xsmall+2;

      a {
        color: $greyMidnight;
        text-decoration: underline;
      }

      @include respond(all-phones) {
        display: block;
        padding: 0 5%;
        text-align: center;
      }
    }

    .marketing--information-links {
      @include column(8);
      @include font-size($norm);
      @include hidden(all-phones);
      float: right;
      margin: 0;
      padding: 0;
      text-align: right;

      li {
        @include inline-block;

        &:after {
          content: '|';
          padding-left: 4px;
        }

        &:last-child:after {
          content: '';
          padding-left: 0;
        }
      }

      a {
        color: $greyMidnight;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.marketing--footer[data-info-links="off"] {
  & > div {
    & > div {
      width: 100%;
    }

    .ydtd-logo {
      margin: 0 auto 20px;
    }

    small {
      display: block;
      padding: 0 5%;
      text-align: center;
    }
  }
}
