.header--masthead {
  background: image-url('background/marketing-masthead.jpg') center center;
  @include background-size(cover);
  color: #fff;
  padding: {
    bottom: 85px;
    top: 120px;
  };

  @include respond(portrait-tablets) {
    padding: {
      bottom: 60px;
      top: 75px;
    };
  }

  @include respond(all-phones) {
    padding: {
      bottom: 40px;
      top: 50px;
    };
  }

  & > div {
    @include row;

    @include respond(tablets) {
      padding: 0;
    }

    @include respond(all-phones) {
      padding: 0;
    }
  }

  .white-ydtd-logo {
    @include background-size(170px 97px);
    height: 97px;
    width: 170px;
  }

  h2, p {
    @include column(8, center);
    padding: 0;
    text-align: center;
  }

  h2 {
    color: #fff;
    font: {
      size: 54px;
      weight: $font-weight-thin;
    }
    letter-spacing: -4px;
    line-height: 54px;
    margin: 60px auto 0;

    @include respond(all-phones) {
      font: {
        size: 24px;
      }
      letter-spacing: -1px;
      line-height: 26px;
      margin-top: 27px;
      padding: 0 5%;
    }
  }

  p {
    margin: 27px auto 0;
    padding: 0 30px;

    @include respond(all-phones) {
      display: none;
    }
  }

  .header--signup {
    background: rgba(0, 0, 0, 0.65);
    @include column(9, center);
    margin-top: 27px;
    padding: 20px;
    text-align: center;

    p {
      margin-top: 20px;
      padding: 0;
      width: auto;
    }

    .success p,
    .error-message {
      margin-top: 0;
    }

    .error-message {
      @include font-size($xsmall);
      line-height: 15px;
      margin-bottom: 20px;
    }
  }
}

.marketing--centered-container {
  @include column(8, center);
  text-align: center;
}

.marketing--feature-boast {
  text-align: center;

  [class*="icon-"] {
    @include border-radius(200px);
    display: table;
    margin: 0 auto;
    height: 200px;
    width: 200px;

    &:before {
      display: none;
    }

    i {
      color: $white;
      display: table-cell;
      @include font-size(100px);
      vertical-align: middle;
    }

    @include respond(portrait-tablets) {
      @include border-radius(175px);
      height: 175px;
      width: 175px;

      i {
        @include font-size(80px);
      }
    }

    @include respond(all-phones){
      @include border-radius(75px);
      float: left;
      height: 75px;
      width: 75px;

      i {
        @include font-size(40px);
      }
    }
  }

  .icon-clock {
    background: $orange;
  }

  .icon-user-add {
    background: $green;
  }

  .icon-marker {
    background: $blue;
  }

  li {
    @include respond(all-phones){
      min-height: 75px;
    }
  }

  h2 {
    color: $greyDarkest;
    @include font-size($larger);
    font-weight: $font-weight-medium;
    line-height: $larger;
    margin-bottom: 5px;

    @include respond(portrait-tablets) {
      @include font-size($large);
      line-height: $large+1;
    }

    @include respond(all-phones){
      @include font-size($norm);
      line-height: 75px;
      padding: 0 0 0 90px;
      text-align: left;

      span {
        @include inline-block;
        line-height: $norm+1;
        vertical-align: middle;
      }
    }
  }

  p {
    @include font-size($norm);
    font-weight: $font-weight-regular;
    line-height: 20px;
    margin-top: 5px;
    text-align: center;

    @include respond(portrait-tablets) {
      @include font-size($small);
      line-height: $small;
    }

    @include respond(all-phones){
      display: none;
    }
  }
}

.marketing--quotes {
  & > div {
    @include row;
  }

  .list-two-tiles {
    @include column(9, center);
    min-width: 0;

    @include respond(portrait-tablets) {
      width: 100%;
    }
  }
}

.marketing--full-signup {
  @include respond(all-phones) {
    background: $custom-secondary !important;
    padding: 0;
  }

  h3 {
    @extend .marketing--centered-container;
    color: $white;
    @include font-size($xxxlarge);
    font-weight: $font-weight-medium;
    letter-spacing: -2px;
    line-height: 32px;
    margin: {
      bottom: 50px;
      top: 0;
    };
    padding: 0;

    @include respond(all-phones) {
      @include font-size($large+1);
      letter-spacing: -1px;
      line-height: $large + 4;
      margin: 27px 0;
      padding: 0 5%;
    }
  }

  & > div {
    background: $custom-secondary;
    @include row;
    padding-bottom: 20px;
    text-align: center;

    h4 {
      color: $white;
      @include font-size($xlarge);
      font-weight: $font-weight-medium;
      margin: 18px 0 0;

      @include respond(all-phones) {
        margin: 9px 0 3px;
      }
    }

    p {
      font-weight: $font-weight-regular;
      margin-top: 0;
    }
  }

  .success p {
    text-align: center;
  }
}
