// application layout

.application--content,
.application--breadcrumbs,
.application--flash-container {
  @include row();
  margin-top: $norm;

  > :first-child {
    margin-top: 0;
  }
}

@include respond(all-phones) {
  .application--content {
    min-width: 0;
    padding: 0;
    width: 100%;
  }

  .application--flash-container {
    padding-left: $norm;
    padding-right: $norm;
  }
}

.row {
  width: 100%;
  max-width: $row-max-width + 40px;
  min-width: $min-device-width;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  .row {
    min-width: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

%bg {
  padding: {
    bottom: 75px;
    top: 75px;
  };

  &.uneven {
    padding-bottom: 30px;
  }

  @include respond(portrait-tablets) {
    padding: {
      bottom: 50px;
      top: 50px;
    };

    &.uneven {
      padding-bottom: 20px;
    }
  }

  @include respond(all-phones){
    padding: {
      bottom: 25px;
      top: 25px;
    };

    &.uneven {
      padding-bottom: 10px;
    }
  }
}

.bg-white {
  @extend %bg;
  background: $white;
  color: $greyDarkest;
}

.bg-grey {
  @extend %bg;
  background: $grey;
  color: #fff;
}

.bg-grey-lighter {
  @extend %bg;
  background: $greyLighter;
  color: $greyDarkest;
}

.bg-primary {
  @extend %bg;
  background: adjust-hue(adjust-lightness($custom-primary, -10%), 3);
  color: #fff;
}

%list-tiled {
  @include clearfix;
  @include row;

  @include respond(all-phones) {
    padding: 0;
  }

  li {
    float: left;
    padding: 0 30px;

    @include respond(all-phones) {
      float: none;
      margin-bottom: 30px;
      padding: 0 5%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.list-two-tiles  {
  @extend %list-tiled;

  li {
    width: 50%;

    @include respond(all-phones) {
      width: 100%;
    }
  }
}

.list-three-tiles  {
  @extend %list-tiled;

  li {
    width: 33%;

    @include respond(all-phones) {
      width: 100%;
    }
  }
}
