---

---

<section id="<%= locals[:id] %>" class="modal">
    <div class="modal--content">
          <%= partial "modules/search_bar", :locals => {:placeholder => 'placeholder?'} %>
    </div>
</section>
