---
title: Reset your password
---

<div class="row">
  <div class="centered seven columns">

    <%= partial "modules/modal-w-header", :locals => {
      :id => "reset-password",
      :title => "Reset your password",
      :content => "words"
    } %>

  </div>
</div>
