---
title: Login
body_class: bohek
html_class: full-height
---

<div class="row">
  <div class="login-modal-container">

    <div class="ydtd-logo-group">
      <%= partial "shared/logo-white" %>
    </div>

    <%= partial "modules/modal", :locals => {
      :id => "login",
      :content => "<button><span>Login</span></button><br><br><button class=\"button-primary\"><span>Login</span></button><br><br><button class=\"button-secondary\"><span>Login</span></button>"
    } %>



    <p><a href="/reset-password.html" class="light">Can't access your account?</a></p>
  </div>
</div>

<footer class="footer--minimal">
  <small class="copyright">
    © <span itemprop="copyrightYear">2013</span> YourDayTheirDay Limited. All rights reserved. <span itemprop="copyrightHolder" itemscope="" itemtype="http://schema.org/Organization">A <a itemprop="url" href="http://madebymade.co.uk" target="_blank"><span itemprop="name">Made by Made</span></a> Company</span>
  </small>
</footer>
