---
title: Reset your password
---

<div class="row">
  <div class="centered seven columns login-modal-container">

    <div class="ydtd-logo-group">
      <%= partial "shared/logo-white" %>
    </div>

    <%= partial "modules/modal-w-header", :locals => {
      :id => "reset-password",
      :title => "Reset your password",
      :content => "words"
    } %>

    <p><a href="#" class="light">Can't access your account?</a></p>
  </div>
</div>

<footer class="footer--minimal">
  <small>
    © <span itemprop="copyrightYear">2013</span> YourDayTheirDay Limited. All rights reserved. <span itemprop="copyrightHolder" itemscope="" itemtype="http://schema.org/Organization">A <a itemprop="url" href="http://madebymade.co.uk" target="_blank"><span itemprop="name">Made by Made</span></a> Company</span>
  </small>
</footer>
