.list-container {
  background-color: $greyLightest;
  font-family: $font-family;
  padding: 20px;
}

#table-tabs {
  a {
    background-color: $grey;
    border: {
      bottom: 1px solid none;
      left: 1px solid $grey;
      right: 1px solid $grey;
      top: 2px solid $grey;
    }
    @include box-sizing(border-box);
    color: #000;
    @include inline-block;
    margin-right: 1px;
    padding: 9px 14px;

    span {
      display: block;
      @include font-size($norm);

      &.tab-figure {
        @include font-size($xxlarge);
      }
    }

    &:hover {
      background-color: $custom-secondary;
      border-color: $custom-secondary;
      color: $white;
    }

    &.active {
      background-color: $white;
      border: {
        bottom: 2px solid $white;
        left: 1px solid $grey;
        right: 1px solid $grey;
        top: 3px solid $custom-secondary;
      }
      color: #000;
      margin-bottom: -1px;
    }
  }

  #search-wrap {
    text-align: right;
    width: 100%;
  }

  .search-bar {
    float: right;
    @include inline-block(middle);
    margin-top: 14px;
    width: auto;
  }
}

#subscribers-container,
#updates-list-container {
  table {
    table-layout: fixed;
    text-align: left;
    width: 100%;

    th,
    td {
      @include font-size($small);
      font-weight: $font-weight-regular;
      padding: 9px 14px;
    }

    th {
      cursor: pointer;
    }

    .subscribed-column {
      width: 200px;

      &:after {
        color: $custom-secondary;
        content: "\e600";
        @include inline-block;
        font-family: 'icomoon';
        margin-left: 5px;
        @include rotate(180deg);
      }
    }

    .checkbox-column {
      width: 46px;
    }

    .table-headers {
      background-color: $white;
      border: 1px solid $grey;
    }

    tr {
      border-bottom: 1px solid $grey;
    }
  }
}

#updates-list-container {
  .status {
    @include border-radius(5px);
    color: $white;
    @include inline-block;
    @include font-size($xsmall);
    font-weight: $font-weight-semibold;
    left: -15px;
    padding: 2px 5px;
    position: relative;
    text: {
      align: center;
      transform: uppercase;
    }
    width: 50px;

    &.draft {
      background-color: $custom-secondary;
    }

    &.sent {
      background-color: $custom-primary;
    }
  }

  .time-ago {
    text-align: right;
    width: 200px;
  }
}
