<% wrap_layout :layout do %>
  <%= partial "shared/header", :locals => {:active => current_page.data.active} %>

  <main class="application--content">
    <%= yield %>
  </main>

  <%= partial "shared/footer" %>
<% end %>
